<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>/include/comment.html</title>
</head>
<body>
	<!-- category(board,gallery ...), parentNum(몇번 글에 달린 댓글인지), parentWriter(원글의 작성자) list(commentList) -->	
	<!-- 로그인여부, 로그인되었다면 로그인된 userName -->
	<th:block th:fragment="commentUi(category, parentNum, parentWriter, list)">
		<div class="card my-3 border border-dark mb-4">
		  <div class="card-header bg-warning text-dark">댓글을 입력해 주세요</div>
			  <div class="card-body">
			    <!-- 원글의 댓글을 작성할 폼 -->
			    <form th:action="@{|/${category}/save-comment|}" method="post">
			      <!-- 숨겨진 입력값 parentNum:원글의 글번호, targetWriter: 글 작성자 -->
			      <input type="hidden" name="parentNum" th:value="${parentNum}"/>
			      <input type="hidden" name="targetWriter" th:value="${parentWriter}"/>
			      
			      <div class="mb-3">
			        <label for="commentContent" class="form-label">댓글 내용</label>
			        <textarea id="commentContent" name="content" rows="5" class="form-control border border-dark" placeholder="댓글을 입력하세요"></textarea>
			      </div>
			      <div class="text-end">
			      <button type="submit" class="btn btn-secondary">등록</button>
			      </div>
			    </form>
			  </div>
		</div>
		<!-- 댓글 목록을 출력하기 -->
		<div class="comments">
		
		<!--/* 대댓글은 자신의 글번호와 댓글의 그룹번호가 다르다. 그런 경우 왼쪽 마진을 부여한다 */-->
		 <div th:each="tmp : ${list}" 
		 	  class="card border border-dark mb-3"
		 	  th:classappend="${tmp.num == tmp.groupNum ? '' : 'ms-5 re-re d-none'}">
		 	  
			<!-- 삭제된 댓글 -->
		    <div th:if="${tmp.deleted == 'yes'}"
		         class="card-body bg-light text-muted rounded">
		        삭제된 댓글입니다
		    </div>
			<!-- 삭제되지 않은 댓글 -->
		    <div th:unless="${tmp.deleted == 'yes'}"
		         class="card-body d-flex flex-column flex-sm-row position-relative">
				
				
				<!-- 답글 버튼 (원댓글 + 답글이 있는 경우만) -->
		        <button th:if="${tmp.replyCount != 0 and tmp.num == tmp.groupNum}"
		                class="dropdown-btn btn btn-warning btn-sm position-absolute"
		                style="bottom:16px; right:16px;">
		            <i class="bi bi-caret-down"></i>
		            답글 [[${tmp.replyCount}]] 개
		        </button>
		        
		        <!--/*대댓글 작성 시 표시되는 화살표 UI*/-->
					<i  th:if="${tmp.num != tmp.groupNum}" 
						class="bi bi-arrow-return-right position-absolute" 
						style="top:0;left:-30px"></i>
				
				<!--/*
					댓글 작성자가 로그인된 userName 과 같을때만 삭제버튼 출력
					로그인된 userName 은 #authentication.name 으로 참조하면 된다.
					로그인이 안되어 있다면 "anonymousUser" 로 참조된다. 
				*/-->
            		<button th:if="${tmp.writer == #authentication.name}" 
            				th:attr="data-num=${tmp.num}" 
            				class="btn-close position-absolute top-0 end-0 m-2" >
            		</button>
            	
            	<!-- 프로필 이미지 없으면 기본 아이콘 -->
				<i th:if="${tmp.profileImage == null}"
				   style="font-size:50px;"
				   class="bi bi-person-circle me-3 align-self-center"></i>
            	
            	<!-- 프로필 이미지 있으면 업로드 이미지 -->
				<img th:unless="${tmp.profileImage == null}"
				     class="rounded-circle me-3 align-self-center"
				     th:src="@{/upload/{img}(img=${tmp.profileImage})}"
				     alt="프로필이미지"
				     style="width:50px; height:50px;">
				     
                <div class="flex-grow-1">
	                <div class="d-flex justify-content-between">
	                	<div >
	                    	<strong>[[${tmp.writer}]]</strong>
	                        <small><span>@[[${tmp.targetWriter}]]</span></small>
	                	</div>
	                        <small>[[${tmp.createdAt}]]</small>
	                </div>
	                	<pre>[[${tmp.content}]]</pre>
	                        
	                	<!--/*댓글 작성자가 로그인된 userName 과 같으면 수정폼, 다르면 댓글폼을 출력한다*/-->
	                    <!-- 수정 버튼 (본인에게만 보임) -->
	                    <th:block th:if="${tmp.writer == #authentication.name}">
	                    	<button class="btn btn-sm btn-outline-dark mb-2 edit-btn">수정</button>  
	                           
		                    <!-- 댓글 입력 폼 (처음에는 숨김) -->
		                    <div class="d-none form-div">
		                        <form th:action="@{|/${category}/comment-update|}" method="post">
	                         	<!-- 댓글을 수정하기 위한 댓글의 번호, 이 페이지로 다시 돌아오기 위한 parentNum 도 같이 전송되도록 -->
		                            <input type="hidden" name="num" th:value="${tmp.num}" />
		                            <input type="hidden" name="parentNum" th:value="${parentNum}" />
		                            <textarea name="content" class="form-control mb-2" rows="2" >[[${tmp.content}]]</textarea>
		                            <button type="submit" class="btn btn-sm btn-dark mb-2">수정 완료</button>
		                            <button type="reset" class="btn btn-sm btn-secondary cancel-edit-btn mb-2">취소</button>
		                        </form>
		                    </div>
	                    </th:block>
	                         
	                    <th:block th:unless="${tmp.writer == #authentication.name}">
	                    	<button class="btn btn-sm btn-outline-dark mb-2 show-reply-btn">댓글</button>
	                       	<!-- 대댓글 입력 폼(처음에는 숨김) -->
	                        <div class="d-none form-div">
	                            <form th:action="@{|/${category}/save-comment|}" method="post">
	                            	<!-- 원글의 글번호, 댓글 대상자의 userName, 댓글의 그룹번호도 같이 전송해야한다
	                            		 input type = "hidden"으로 들고간다.  -->
		                            <input type="hidden" name="parentNum" th:value="${parentNum}" />
		                            <input type="hidden" name="targetWriter" th:value="${tmp.writer}" />
		                            <input type="hidden" name="groupNum" th:value="${tmp.groupNum}"/>
		                            <textarea name="content" class="form-control mb-3" rows="2" placeholder="댓글을 입력하세요"></textarea>
		                            <button type="submit" class="btn btn-sm btn-dark">등록</button>
		                            <button type="reset" class="btn btn-sm btn-secondary cancel-reply-btn">취소</button>
	                       		</form>
	                       </div>
	                    </th:block>
	                </div>  
                </div>
            </div><!-- .card-body -->
         </div><!-- .card -->

		<script> // th:inline="javascript" 
			//클라이언트가 로그인 했는지 여부(#authentication.name -> userName)
			const isLogin = [[${#authentication.name == 'anonymousUser' ? false : true}]];
			
			// 대댓글 보기 버튼을 눌렀을때 실행할 함수 등록 
			document.querySelectorAll(".dropdown-btn").forEach(item => {
		 		  item.addEventListener("click", (e) => {
		 			
		 			// click 이벤트가 발생한 그 버튼의 자손요소 중에 caret up 또는 caret down 요소를 찾는다. 
		 			const caret = item.querySelector(".bi-caret-up, .bi-caret-down");
		 			if (caret) {
		 			  // 해당 아이콘 클래스들을 toggle 한다. 
		 			  caret.classList.toggle("bi-caret-down");
		 			  caret.classList.toggle("bi-caret-up");
		 			}
		 			
		 		    // 1. 버튼의 두 단계 부모 요소로 이동
		 		    const grandParent = item.parentElement.parentElement;
					// 2. 두단계 부모 요소의 바로 다음 형제 요소의 참조값을 얻어낸다 
		 		 	let next = grandParent.nextElementSibling;
					// 3. 반복문돌면서 
			   		while (next) {
			   		  // 만일 re-re 클래스가 있다면 	
			   		  if (next.classList.contains("re-re")) {
			   			// d-block 클래스를 토글시켜서 보였다 숨겼다를 반복시킨다
			   		    next.classList.toggle("d-block");
			   		  }else{ //존재하지 않으면
			   			  break; // 반복문 탈출
			   		  }
			   		  // 다음 형제 요소의 참조값 얻어내기
			   		  next = next.nextElementSibling;
			   		}
		 		  });
		  	});
			
			// 삭제 버튼을 눌렀을때 
		    document.querySelectorAll(".btn-close").forEach(item=>{
		        item.addEventListener("click", ()=>{
		        // data-num 속성에 출력된 삭제할 댓글의 번호값을 변수에 담기 
		        const num=item.getAttribute("data-num") //  getAttribute() : ( )의 속성값을 가져오겠다는 의미
		        const isDelete=confirm(num+"번 댓글을 삭제 하시겠습니까?")
		        if(isDelete){
		        	// "delete.jsp?num=삭제 할 댓글번호 & parentNum=원글의 번호" 형식의 요청이 되도록 한다.
		        	// 백틱은 "문자열 + 변수 섞기" 용도의 문자열 표기법
		        	location.href=`[[@{|/${category}/comment-delete|}]]?num=${num}&parentNum=[[${parentNum}]]`;
		        }
		     	});
		    });
		
		    // 클래스명이 edit-btn 인 모든 버튼에 "click" 이벤트리스너 등록
		    document.querySelectorAll(".edit-btn").forEach(item=>{
		        item.addEventListener("click", ( )=>{
		            // 클릭한 버튼의 다음 형제 요소의 class 목록에서 d-none 을 제거
		            item.nextElementSibling.classList.remove("d-none");
		            // 클릭한 버튼의 class 목록에 d-none 을 추가 
		            item.classList.add("d-none");   
		         	
		            // 댓글(답글) 버튼도 숨기기
		            const parentCard = item.closest(".card"); // 카드 하나 전체
		            const replyBtn = parentCard.querySelector(".show-reply-btn"); // 댓글 버튼 찾아서
		            if(replyBtn){
		                replyBtn.classList.add("d-none");
		            }
		        });
		     	
		    });
		    // 취소 버튼에 d-none 등록(querySelectorAll)
		    document.querySelectorAll(".cancel-edit-btn").forEach(item=>{
		        // 취소 버튼을 눌렀을때 이벤트 리스너 등록
		        item.addEventListener("click", ()=>{
		            // 가장 가까운(closest) 부모 요소중에 클래스 속성이 form-div 인요소
		            const formDiv=item.closest(".form-div");
		            // formDiv 에 d-none 클래스 추가해서 
		            formDiv.classList.add("d-none");
		            // formDiv 의 이전 형제요소(댓글버튼)에 d-none 추가  
		            formDiv.previousElementSibling.classList.remove("d-none");
		         	
		            // 댓글(답글) 버튼 다시 보이게
		            const parentCard = item.closest(".card");
		            const replyBtn = parentCard.querySelector(".show-reply-btn");
		            if(replyBtn){
		                replyBtn.classList.remove("d-none");
		            }
		        });
		    });
			
			document.querySelector("#commentContent").addEventListener("input", ()=>{
				//원글의 댓글 입력란에 입력했을때 만일 로그인 하지 않았다면
				if(!isLogin){
					alert("댓글 작성을 위해 로그인이 필요합니다!");
					location.href=
						 "[[@{/user/loginform}]]?url=[[@{|/${category}/view?num=${parentNum}|}]]";
				}
			});
			
			// 모든 댓글 버튼에 이벤트 등록(querySelectorAll)
		    document.querySelectorAll(".show-reply-btn").forEach(item=>{
		        // 매개변수에 전달된 item 은 댓글 button 의 참조값이다. 
		        item.addEventListener("click", ()=>{
		        	
		        	//원글의 댓글 입력란에 입력했을때 만일 로그인 하지 않았다면
		    		if(!isLogin){
		    			alert("댓글 작성을 위해 로그인이 필요합니다!");
		    			location.href=
		    				"[[@{/user/loginform}]]?url=[[@{|/${category}/view?num=${parentNum}|}]]";
		    			return;
		    		}
		        	
		            // 클릭한 버튼의 다음 형제요소의 class 목록에서 d-none 을 제거
		            item.nextElementSibling.classList.remove("d-none");
		            // 클릭한 버튼의 class 목록에 d-none 을 추가 
		            item.classList.add("d-none");
		        })
		    });
		    // 모든 취소 버튼에 d-none 등록(querySelectorAll)
		    document.querySelectorAll(".cancel-reply-btn").forEach(item=>{
		        item.addEventListener("click", ()=>{
		            // 가장 가까운(closest) 부모 요소중에 클래스 속성이 form-div 인요소
		            const formDiv=item.closest(".form-div");
		            // formDiv 에 d-none 클래스 추가해서 
		            formDiv.classList.add("d-none");
		            // formDiv 의 이전 형제요소(댓글버튼)에 d-none 추가  
		            formDiv.previousElementSibling.classList.remove("d-none");
		        })
		    });        
	    </script>
	</th:block>
</body>
</html>